# 1. Files related to Project Management
# 1.1. System Files
.DS_Store

# 1.2. App-related Files
# 1.2.1. Pycharm
.idea
# 1.2.2. RStudio
.Rhistory
# 1.2.3. VS Code
*.code-workspace


# 2. Datasets
# ## Note: Data files will be stored in Dropbox.
**/*.zip
**/*.dta
**/*.RData
**/*.parquet
**/*.csv
**/*.xlsx
**/*.xls

# 2.1. To exclude raw datasets
# (Not Applicable)


# 3. Scripts
01_Scripts/Scratches


# 4. Others
# (Not Applicable)
